<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.training.library.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.training.library.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>com.training.library.EditBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.training.library.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>